@font-face {
    font-family: 'EB Garamond';
    src: url('Fonts/static/EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: auto;
    height: auto;
    background: #000000;
    background: linear-gradient(1deg, rgba(0, 0, 0, 1) 0%, rgba(54, 1, 1, 1) 50%, rgba(0, 0, 0, 1) 100%);
    font-family: 'EB Garamond', serif;
    color: rgb(255, 252, 246);
}

.mainContainer {
    max-width: 100%;
    padding: 16px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px;
    list-style: none;
    gap: 1px;
}

.homeButton,
.cvButton,
.varförButton {
    display: flex;
    justify-content: center;
    color: #a7a7a7;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid rgba(167, 167, 167, 0.5);
    background: rgba(76, 76, 76, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: all 0.3s ease;
}

.homeButton:hover,
.cvButton:hover,
.varförButton:hover {
    background: rgba(255, 255, 255, 0.29);
    color: #eeeeee;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 36px rgba(253, 253, 253, 0.2);
    transform: scale(1.05);
}

.heroContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 12px;
    background: rgba(76, 76, 76, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(76, 76, 76, 0.53);
}

.heroContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

.heroText {
    color: #eeeeee;
    overflow-wrap: break-word;
}

.hobbyList {
    margin: 8px auto;
    padding-left: 0;
    display: inline-block;
    text-align: left;
    list-style-position: outside;
}

.cvTimeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cvTimeline h2 {
    font-size: 26px;
    margin-bottom: 40px;
    color: hsl(0, 3%, 94%);
}

.timeline {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    gap: 0;
    width: 90%;
    margin: 0 auto;
}

.timeline h3 {
    font-size: 18px;
}

.timelineItem {
    padding: 16px;
    background: rgba(76, 76, 76, 0.29);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.timelineItemRight {
    grid-column: 1;
    text-align: right;
}

.timelineItemLeft {
    grid-column: 3;
    text-align: left;
}

.timelineItemRight:hover,
.timelineItemLeft:hover {
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0 rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transform: scale(1.10);
}


.timelineMiddle {
    grid-column: 2;
    background: rgba(255, 255, 255, 0.6);
    width: 3px;
    margin: 0 auto;
}

.timelineMarker {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}

.varförSection {
    text-align: center;
    margin-top: 48px;
    background: rgba(76, 76, 76, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(76, 76, 76, 0.53);
    padding: 16px;
}

.företagSection {
    text-align: center;
    margin-top: 32px;
    
}

.företagSection table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.företagSection th {
    background-color: #3a1f27;
    color: white;
    padding: 8px;
    margin: 6px 0 8px 0 0;
    font-size: 18px;
    border-radius: 16px;
    overflow-wrap: break-word;
}

.företagSection td {
    padding: 1px;
    border-radius: 16px;
    border: 1px solid #563c48;
    color: white;
}

.företagNamn, .företagNamn a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.företagNamn:hover {
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transform: scale(1.05);
}


@media (max-width: 768px) {

    nav ul {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2px;
    }

    .heroContainer {
        flex-direction: column;
        text-align: center;
    }

    .hobbyList {
        text-align: left;
        padding-left: 25px;
        list-style-position: outside;
    }

    .timeline h3 {
        font-size: 16px;
    }

    .företagSection {
        overflow-x: auto;
        
    }

    .företagSection table,
    .företagSection thead,
    .företagSection tbody,
    .företagSection tr {
        display: block;
        width: 100%;
        
    }

    .företagSection tr {
        margin-bottom: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
        background-color: #3a1f27;
        
    }

    .företagSection th,
    .företagSection td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 12px;
        color: white;
        text-align: center;
    }

    .företagNamn {
    font-weight: bold;
    background-color: #1f020b;
}

    .företagSection th {
        background: #3a1f27;
        color: #fff;
        padding: 12px 12px 6px 12px;
        margin-bottom: 0;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

}